{% extends "base.html" %}
{% load i18n %}
{% load bootstrap5 %}


{% block content %}
<div class="album py-5 {# bg-light #}">
  <div class="container">
    <div class="row g-3">

      <div class="col-6 col-md-12">
        <p>
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form user_form %}
          {% bootstrap_form profile_form %}

          <div class="text-center">
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="save_profile">{% translate "Save" %}</button>
          </div>
        </form>
        </p>
      </div>

      <div class="col-6 col-md-12">
        <p>
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form address_form %}

          <div class="text-center">
              <button class="btn btn-lg btn-primary btn-block" type="submit" name="save_address">{% translate "Save" %}</button>
          </div>
        </form>
        </p>
        <p>
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form membership_form %}
          <div class="text-center">
              <button class="btn btn-lg btn-primary btn-block" type="submit" name="save_membership">{% translate "Save" %}</button>
          </div>
        </form>
        </p>
      </div>

    </div>
  </div>
</div>
{% endblock %}