{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_tags %}


{% block content %}
    <form method="post">
        <div class="col-3 mx-auto py-2">
            {% csrf_token %}
            {{ user_form|as_bootstrap }}
        </div>
        <div class="col-3 mx-auto py-4 text-center">
            <button class="btn btn-lg btn-primary btn-block" type="submit">{% translate "Save" %}</button>
        </div>
    </form>

    <form method="post">
        <div class="col-3 mx-auto py-2">
            {% csrf_token %}
            {{ form|as_bootstrap }}
        </div>
        <div class="col-3 mx-auto py-4 text-center">
            <button class="btn btn-lg btn-primary btn-block" type="submit">{% translate "Save" %}</button>
        </div>
    </form>
{% endblock %}